.allcartitems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-head{
    display: block;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 3px;
    color: rgb(56, 149, 236);
    border-bottom: 3px solid rgb(56, 149, 236);
}
.proceed{
    display: flex;
    justify-content: center;
}
.proceed button{
    background-color: rgb(56, 149, 236);
    color: white;
    font-weight: 600;
    
}
.price{
    margin: 20px;
    align-self:flex-end;
    color: white;
    background-color: rgb(29, 179, 29);
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.price-next{
    margin: 20px;
    align-self:flex-end;
    color: white;
    background-color: rgb(29, 179, 29);
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 50px;
}
.big-price{
    font-size: 25px;
}

.cart-container{
   display: flex;
   justify-content: center;

}
.cart-body{
    align-self: center;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.cart-split{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 75px;
}
.cart-split-next{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 70px;
}
.cart-btns{
    align-self: flex-end;
    margin-right: 20px;
}
.cart-btns-next{
    align-self: flex-end;
    margin-right: 50px;
}

.cart-btn-back{
    border: none;
    background-color: transparent;
    margin-right: 20px;
}
.cart-btn-next{
    border: none;
    background-color: rgb(101, 165, 238);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.cart-btn-next:hover{
    background-color: rgb(72, 151, 241);
}
.help{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.anybody{
    margin-left: 50px;
}
select{
    width: 100px;
}