.new-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    width: 300px;
    height: 225px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
  }

  .new-pass-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    width: 300px;
    height: 310px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
  }


  input{
    background-color: rgb(233, 232, 232);
  }

  .uf{
    margin-bottom: 20px;
  }

  .inpu {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .inpu:hover {
    background-color: #0069d9;
  }

  .unga{
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: grey;
  }


  .error-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    color: red;
}
.ef{
    margin-bottom: 20px;
}